button
{
background-color:#B5E61C;
width:20%;
height:20%;
border-color:black;

}

body
{
background-color:#DFF49C;
}

.choix
{
margin-top:-2.3%;
}

 p
{
float:center;
font-size:18;
}

.header
{
background-color:green;
height:6%;
margin-top:-8px;
margin-right:-0px;
margin-left:-8px;


}

.image
{
margin-top:-9%;
margin-left:29%;
}
.image1
{

margin-top:-7.5%;
margin-left:77%;


}

.header img
{
float:right;
margin-right:6%;
margin-top:0.6%;


}
a{
      target:_blank;
}
.header p
{
margin-right:10px;
float:right;
margin-top:1%;
}

.logo
{
margin-top:-101px;
margin-left:1200px;


}








